body{
    text-align: center;
    background-color: cornsilk;
}

.btn{
    height:200px;
    width:200px;
    border-radius: 20%;
    border:10px solid black;
    margin:2rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}

.flash{
    background-color: aliceblue;
}
.user{
    background-color:blueviolet;
}